"""{{header()}}"""
import requests
import json
from circuitbreaker import *
from datetime import datetime

{%- for typedef in typedefs %}
from models.{{typedef.name|lower_case}} import {{typedef.name|upper_case}}, {{typedef.name|upper_case}}AllOptional
{% endfor %}
from .consul import get_url_for_service

global cached_values
cached_values = {}

{%- for function in functions %}

{% if function.cb_pattern and function.cb_pattern != "fail_fast" %}

def {{function.name}}_fallback({{function|get_params}}):
{% if function.cb_pattern and function.cb_pattern == "fail_silent" %}
    return
{% endif %}
{% if function.cb_pattern and function.cb_pattern == "fallback_method" %}
    #TODO : IMPLEMENT THIS
    pass
{% endif %}
{% if function.cb_pattern and function.cb_pattern == "fallback_static" %}
    return {{function.ret_type|silvera_type_to_pydantic_default}}
{% endif %}
{% if function.cb_pattern and function.cb_pattern == "fallback_cache" %}
    if cached_values[({{function.name}}, *[{{function|get_params_wo_types}}])]:
        return cached_values[({{function.name}}, *[{{function|get_params_wo_types}}])]
    return {{function.ret_type|silvera_type_to_pydantic_default}}
{% endif %}

@circuit(
    fallback_function={{function.name}}_fallback
)
{% endif %}
def {{function.name}}({{function|get_params}}):
    service_url = get_url_for_service("{{function.service_name}}")
    resp = requests.{{function.dep.http_verb|all_lower}}(f"http://{service_url}/{{function.rest_path}}")
{% if function.cb_pattern and function.cb_pattern == "fallback_cache" %}
    cached_values[({{function.name}}, *[{{function|get_params_wo_types}}])] = resp.json()
{% endif %}    
    return resp.json()
{% endfor %}
