"""{{header()}}"""

import pymongo
from typing import Optional, List, Dict, Set

from pydantic import BaseModel

from beanie import Document
from beanie import Indexed

class {{typedef.name}}(Document):
    {%- for field in typedef.fields %}
    {% if field.required %}
    {{field.name}}:{{field.type|silvera_type_to_pydantic}} 
    {% endif %}
    {% if not field.required %}
    {{field.name}}: Optional[{{field.type|silvera_type_to_pydantic}}] = None
    {% endif %}    
    {%- endfor %}